/* GLOBAL /APP */

.App {
  font-family: 'Open Sans', sans-serif;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: .7em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #EBD569;
  min-height: 70vh;
  display: flex;
  color: #AC663E;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  font-family: 'Belleza', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
background-color: #82c787;
max-width: 100%;
padding: 1em;
margin: auto;
color: white;
}

h1, h2 {
font-family: 'Belleza', sans-serif;
}

/* FORMS */
.form-label{
padding: .3em;
}

/*FOOTER*/
.footer {
text-align:center;
justify-content: center;
}

/* TABLE */
thead {
font-family: "Belleza", sans-serif;
}

thead, td, th {
color: #AC663E;
}

table {
background-color: #EBD569;
border-radius: .5em;
margin-bottom: .5em;
}

#submitBtn {
  margin-left: 38%;
  background-color: #AC663E;
}

.btn-delete, .btn-update {
margin: .2em;
}

.btn-delete {
background-color: #AC663E;
color: white!important;
}

.btn-update {
background-color: #82c787;
color: white!important;
}


.btn-update:focus {
  /* outline: none; */
  background-color: #82c787;
  box-shadow: none;
}



/* NAV */

.nav-container {
background-color: #AC663E;
}

/*navbar brand div*/
.mr-auto {
margin-left: .5em!important;
padding: .5em;
color: white!important;
font-family: 'Belleza', sans-serif;
}

/* hamburger*/
.mr-2, .navbar-toggler {
margin-right: .5em;
}
/* nav btns */

.btn-nav {
  margin-left: 1em; 
  background-color: #EBD569;
  border-color: #EBD569;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: .4em;
  transition:none;
}

.btn-nav:visited {
background-color: #EBD569;
border:#d2bc53;
box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.btn-nav:hover {
background-color: #EBD569;
border:#d2bc53;
box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.btn-auth {
box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
cursor: wait;
}

.btn-auth:hover {
box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
}


/* Adding styling to the Update Modal --Ryan */
.modalBody {
  background-color: #EBD569;
}

.modalHeader {
  background-color: #82c787;
  font-size: larger;
  justify-content: center;
  
  color: white;
}

.modalLabel {
  color: #AC663E
  
}

#loginSpinner, #signupSpinner {
  color: #EBD569!important;
  display: none;
}

/* #loginSpinnerDiv, #signupSpinnerDiv {
display: none;
} */

